{% extends "booking/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_superuser %}

            <form class="row " action="{% url 'add_parking_lot' %} " method='POST'>
              {% csrf_token %}
              {{ form.as_p }}
              {{ form.parking_name.errors }}
                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary mb-3" value='Add parking lot'>
                </div>
              </div>
            </form>

        <hr>
            
          {% for c in parking %} 
          <p>
          <a href="{% url 'open_parking_lot' c.id  %}">Parking {{ c.parking_name }}</a>
            <form class="row " action="{% url 'change_parking_name' c.id %} " method='POST'>
              {% csrf_token %}
              <div class="form-floating">
                <div class="col-sm-2">
                    <input  name='nw_name' placeholder='Введите новое название парковочного места'>
                </div>

                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary mb-3" value='Change parking lot'>
                </div>
              </div>
            </form>
            <a href="{% url 'delete_parking' c.id %}">Delete</a>
        </p>
        <hr>
          {% endfor %} 

        <h3>All reservations</h3>
          {% for c in  all_bookings %} 
            <div>
              <span>{{c.day}} ({{ c.parking_lot_name }}): </span>
                {% for q in  c.hours %} 
                <span>{{ q.hour }} ({{ q.user_name }}), </span>
                {% endfor %} 
            </div>

            <div>
          <a href="{% url 'delete_reservation' day_id=c.day_id lot_id=c.parking_lot_id  %}">Delete</a>
          <a href='#' class='manager_action' data-lot={{c.parking_lot_id}}  data-day={{c.day}} >Update</a>
            <div></div>
          </div>
          <br>
          {% endfor %}
      
    {% endif %} 

{% endblock %}

