{% extends "booking/layout.html" %}

{% load static %}

{% block body %}
    {% if user.is_authenticated %}

    <div id="calendar"  data-lot={{parking_lot}}></div>
      <button id='prev'>Back</button>
      <button id='next'>Next</button>
    <div id="hours"></div>
    <ul id="reservation"></ul>
    <div id="form_reservation">
      {{ parking }}
      <form id='form_r' action="" method='post'>
        {% csrf_token %}
        <input type="submit" value='Make a reservation'>
      </form>
      <div id="my_booking">
        <h3>Your reservations</h3>
          {% for c in  my_bookings %} 
          <span>{{c.day_name}} : </span>
            {% for q in  c.hours %} 
            <span>{{ q.hour_name }}({{ q.parking_lot.parking_name }}),</span>
          {% endfor %} 
          <input type="submit" value='Change'>

          <a href="{% url 'delete_day_reservation' c.day_name  %}">Delete</a>
          <br>
          {% endfor %} 
      </div>
    </div>
     
    {% endif %} 
  {% block script %}
      <script src="{% static 'booking/index.js' %}?{% now "U" %}"></script>
  {% endblock %}
{% endblock %}

