{% extends "booking/layout.html" %}

{% load static %}

{% block body %}
    {% if user.is_authenticated %}

    <div id="calendar"  data-lot={{parking_lot}} data-user={{user.id}}></div>
      <button id='prev'>Back</button>
      <button id='next'>Next</button>
      <label>Включить режим бронирования</label><input type='checkbox' id='mode' value='on'>
    <div id="hours"></div>
    <ul id="reservation"></ul>
    <div id="form_reservation">
      {{ parking }}
      <form id='form_r' action="" method='post'>
        {% csrf_token %}
        <input type="submit" value='Make a reservation'>
      </form>
      <div id="my_booking">
        <h3>Your reservations</h3>
          {% for c in  my_bookings %} 
            {% for t in  c.days %} 
            
          <span>{{t.day}} : </span>
            {% for q in  t.hours %} 
            <span>{{ q.hour }}({{ c.user_name }}),</span>
          {% endfor %} 
          <input type="submit" value='Change'>
          <a href="{% url 'delete_reservation' session_id=c.session_id lot_id=parking_lot %}">Delete</a>
            {% endfor %} 

          <br>
          {% endfor %} 
      </div>
    </div>
     
    {% endif %} 
  {% block script %}
      <script src="{% static 'booking/index.js' %}?{% now "U" %}"></script>
  {% endblock %}
{% endblock %}

